
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
   

}

main{
    display:flex;

    align-items: center;
    flex-direction:column;
}

h1{
    font-size:50px;
    color:white;
}
/* ---Nav bar */
.topnav {
    overflow: hidden;
    background-color:navy;
    width:100%
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px 30px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav-right {
    float: right;
  }
  .button{
      background-color: mediumvioletred;
       margin-right:80px;
      margin-top:50px; 
      padding:10px 20px;
      color:black;
      font-weight:300;
     
  }

  /* ---Background-Image */
  .flexible-container{
    display:flex;
  
    margin-bottom:150px;
   
}

.half-width{
    background-image:url(images/Players/banner.png);
    background-repeat: no-repeat;
    background:navy;
    
  
    width:100%;
    transition: transform 1s ease-in-out .2s;
    
}
.half-width:hover{
    background-color:darkcyan;
    transform: translate(500px);

}
.half-width{
    width:50%;
    padding-left:5%;
}

.half-width img {
    width: 70%;
}

.link-button{
    text-decoration: cornflowerblue;
    background-image:linear-gradient(orange,orangered); 
   
    padding:10px 20px;
    color:black;
    font-weight:600;
    margin: 5px;
    transition: transform 1s ease-out .2s;
    width: 200px;
    height: 150px;  
}
link:hover{
    width:300px;
    background: #3cc16e;
    transform: translate(500px);

}
 
/* All Players part */

.players{
    display:grid;
    justify-content: center;
    
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:10px;

}
.player{
    

      
    width:350px;
    height:550px;
    margin-left:10%;
    margin-right:5%;
    padding-left:10px;
    padding-right:20px;
    text-align:center;
  
   
    padding-top:0;
     background: #FFFFFF;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
    }
    


.player-name{
    margin-left:16px;
    font-size:18px;

}


.my-player{
    padding-left:5px;
    padding-right:5px;
    
}




.player img{
    width: 67.33%;
    height:200px;
    
   margin-top: 20px;
   margin-bottom: 5px;
   margin-right: 5px;
   margin-left: 12px;
   
    border-radius: 15px;
}
.player-description{
    padding-left:5px;
    padding-right:5px;
    
}

/* -----------Highlight Of Copa America */

.mymatch{
    font-size:50px;
    color:black;
}
.match-width{
    width:50%;
    padding-left:5%;
}
.match-width img{
    width:70%;
}

.match-container{
    display:flex;
    margin-bottom:150px;
}

.match-width{
    margin-top:70px;
}
.match-width img{
   margin-top:70px;
}

/* ---------- Footer and Social ICon */
.footer-paragraph{
    text-align:center;
}
.footer{
    margin-top:40px;
}

.social-icons {
    margin-bottom: 50px;
    text-align: center;
}

.social-box span i {
    font-size: 20px;
    border-radius:50%;
}

.social-icons .social-box span {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.609);
    cursor: pointer;
    border-radius:25px;
    transition: .5s;
}


.bonus-img{
    width:50%;
    
        background-image:url(images/Players/bonus2-img.jpg);
        background-repeat: no-repeat;
        background:navy;
        
      
       
        transition: transform 1s ease-in .2s;
        
}
.bonus-img:hover{
    background-color:cornflowerblue;
    transform: translate(500px);

}


.bonus-img:hover .football {
    transform: translate(500px);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
    position: relative;
    left: 500px;
    transition: transform 1s ease-out .2s;
}


/* BEST PLAYER */
.best-players{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:24px;
}

.best-player .best-player-banner img{
    width:224px;
    height:104px;
    border-radius:5px;
}
.player-info{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    background-color:#FFFFFF;
    width:870px;
    padding:33px ;
    border-radius: 5px;
  
    margin-top:21px;
    
    
}
.best-players:hover .best-player {
    transform: scale(1.3);
    transition: transform 2s ease-in-out;
}
.fa-star{
    font-size:12px;
}
.fa-star.filled{
    color:#FFC014;

}
.fa-star.empty{
    color:#858072;
}

  
    

  /* ------Media Query------------ */

/* Mobile devices */

@media only screen and(max-width:680px){
    .container{
        width:80%;
    }
    .players,.best-player{
        
        grid-template-columns: repeat(2,1fr);
    }
    .player{
        flex-direction: row;
    }
     
}

/* table devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .players ,.best-players{
        background-color:grey;
        grid-template-columns: repeat(2,1fr);
    }
    
   
}

